<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Chat Web App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Srijon Chat App</h1>
    <h2>Chat App using Socket.io</h2>

    <form id="form">
        <div>
            <label for="myname">Name:</label>
            <input type="text" id="myname" placeholder="Enter your name">
        </div>
        <div>
            <label for="messageInput">Message:</label>
            <input type="text" id="messageInput" placeholder="Type your message">
        </div>
        <button id="sendButton" type="button">Send</button>
    </form>

    <div id="messageArea"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/clint.js"></script>
</body>
</html>
