<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login / Signup</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
  <div class="container">
    <div class="tab-buttons">
      <button class="active" onclick="showForm('login')">Login</button>
      <button onclick="showForm('signup')">Signup</button>
    </div>

    <form id="login" class="form active">
      <input class="Loginemail" type="email" placeholder="Email" required />
      <input class="Loginpassword" type="password" placeholder="Password" required />
      <button class="btn">Login</button>
      <small>Forgot your password?</small>
    </form>

    <form id="signup" method="" class="form">
      <input class="Name" type="text" placeholder="Full Name" required />
      <input class="Email" type="email" placeholder="Email" required />
      <input class="Password" type="password" placeholder="Password" required />
      <button class="btn">Signup</button>
    </form>
  </div>
<script src="/js/login.js"></script>
</body>
</html>
