body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: green;
    font-size: 28px;
}

h2 {
    color: #333;
    font-size: 20px;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#messageArea {
    /* margin-top: 20px;
    padding: 10px;
    background: rgb(125, 58, 58);
    border-radius: 5px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    height: 100vh;
    display: block;
    overflow-y: scroll;
    color: rgb(50, 232, 18); */
    color: #333;
    background-color: aqua;
    padding: 10px;
    height: 100vh;
    display: block;
}
